Menu {
background : url(./Images/menu_tank.png) repeat;
background-color: black;
}

QProgressBar {
     border: 2px solid black;
     border-radius: 1px;
     background-color: #c6c6c6;
 }
  QProgressBar#Health::chunk {
     background-color: #0f9c20;
 }
 QProgressBar#Deplacement::chunk {
     background-color: #ff6600;
	 }
 QProgressBar#Tank {
     border: 1px solid black;
     border-radius: 1px;
     background: qlineargradient( x1:0 y1:1, x2:0 y2:0, stop:0 #1be100, stop:1 #ff0d00, stop:0.5 #ffff00);
 }
 QProgressBar#Tank::chunk {
     background-color: rgba(255,255,255,0%);
	 border-top: 2px solid black;
 }
 QLabel#tourParTour{
	border: 3px solid white;
	background-color: black;
	color: white;
	font-family: "Showcard Gothic";
	font-size: 25px ;
	font-weight: 900;
 }
 QWidget#CentralWidget{
 background: qlineargradient( x1:0 y1:1, x2:0 y2:0, stop:0 #27c5ec, stop:1 #273bec);

 }
 QWidget#HUD{
	background: url(./Images/pattern.jpg) repeat;
 }
 QRadioButton::indicator{
 width : 70 px;
 height : 70 px;
 border: 5 px
 }
 
 QRadioButton#Munition1{
 image : url(./Images/default_ammo.png);
 }
 QRadioButton#Munition2{
 image : url(./Images/shotgun_ammo.png);
 }
 QRadioButton#Munition3{
 image : url(./Images/explosive_ammo.png);
 }
 QRadioButton#Munition1::checked{
 image : url(./Images/default_ammo_selected.png);
 }
 QRadioButton#Munition2::checked{
 image : url(./Images/shotgun_ammo_selected.png);
 }
 QRadioButton#Munition3::checked{
 image : url(./Images/explosive_ammo_selected.png);
 }
 